

<!-- boton accsible en la que se da la informacion que tiene, tiene colores de alto contraste y aumenta cuando se accede a el -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet"  href="accesible.css">
</head>
<body>
<label>
	<label for="boton_accesible" data-message="informacion del boton" tabindex="0">aceptar condiciones </label>
	<button type="button" data-message="informacion del boton" tabindex="0" id="boton_accesible" class="boton_accesible" name="boton_accesible" value="valor concedido al boton">contenido boton</button>
</label>
</body>
</html>