<!--https://developer.mozilla.org/es/docs/Learn/Accessibility/HTML utilice esta pagina-->
<!--documentacion aria https://www.lullabot.com/articles/what-heck-aria-beginners-guide-aria-accessibility#:~:text=ARIA%20is%20a%20set%20of,can%20help%20bridge%20those%20gaps.-->
<!--http://accesibilidadweb.dlsi.ua.es/?menu=ej-enlaces-no-enlaces-->
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet"  href="accesible.css">
</head>
<body>
<label>
	<label>
		<label for="checkbox" data-message="informacion del boton" tabindex="0">aceptar condiciones </label>
		<input type="checkbox" data-message="informacion del boton" tabindex="0" id="checkbox" class="checkbox" name="checkbox">
	</label>
</label>
</body>
</html>



		<!-- checkbox accsible en la que se da la informacion que tiene, tiene colores de alto contraste y aumenta cuando se accede a el -->
