
 <div class="container">
  <main>
    <div class="py-5 text-center">
      <b><h1>##nombre##</h1></b>
    </div>

    <hr class="my-4">
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
          <iframe src="./public/components/##nombre##.html" width="400" height="200"></iframe>
          <pre class="lead my-3 Calibri">
            <a ##tipo## href=##enlace##  download=##enlace1## class="text-black"><b>DESCARGA COMPONENTE</b></a>
          </pre>
      </div>
      <div class="col-md-7 col-lg-8">
          <div class="row g-12">

            <div class="col-12">
              <label id="DescripcionComponenteText" name="DescripcionComponente" class="form-label">##desc##</label>
            </div>

            <hr class="my-4">
          </div>
      </div>
    </div>
  </main>
 </div>