<p id="login">
    <div class="py-4 col-rg-4 col-md-7 col-lg-12">
      <form action="index.php" method="POST">
        <div class="col-md-12 text-center">
          <img alt="logo" class="bd-placeholder-img rounded-circle" src="./public/images/menu/logo.jpg" width="200" height="200">
        </div>
      <p>
        <p>
          <h1 class="h3 mb-10 fw-normal">¡Entra en Distrap!</h1>
        </p>
        <p>
        <div class="form-floating">
          <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
          <label for="floatingInput">Correo electronico</label>
        </div>
        </p>
        <p>
        <div class="form-floating">
          <input type="password" class="form-control" name="pass" id="pass" placeholder="Password">
          <label for="floatingPassword">Contraseña</label>
        </div>
        </p>
        <input type="hidden" name="accion" value="logearse">
        <button class="w-100 btn btn-primary btn-warning" type="submit">Entrar</button>
      </p>
 
      
    </form>

  </div>
  </p>

