<p id="bienvenida">
<div class="p-8 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
        <h1 class="display-2 Calibri">Bienvenido a Distrap ¡A Programar!</h1>
        <p>
        <pre class="lead my-3 Calibri">Somos una web que oferta una serie de plantillas y elementos html, js y css orientados a la
accesibilidad web de forma gratuita. Se pueden descargar y utilizar todos los elementos
publicados en nuestra web con total libertad siguiendo las siguientes instrucciones:
        </pre>
        </p>

        <pre class="lead my-3 Calibri">       INSTRUCCIONES</pre>
        </p>
        <p>
        <pre class="lead my-3 Calibri">
        Lo primero y necesario, para la utilizacion de
        cualquiera de nuestros archivos,y que estos
        funcionen correctamente es la descarga de nuestro
        archivo CSS. Para ello debe ser un usuario
        registrado y entonces se le activará el enlace de
        descarga a continuación.
        </pre>

        <pre class="lead my-3 Calibri">
            <a ##tipo## href=##enlace##  download=##enlace1## class="text-white"><b>DESCARGA CSS</b></a>
        </pre>

        <pre class="lead my-3 Calibri">
        Despues de esto ya podra utilizar
        cualquiera de nuestros servicios ofertados,
        y estaran en correcto funcionamiento
        </pre>
        </p>

    </div>
</div>
</p>