 <script src="./librerias/javaScript/##js##.js"></script>
<div class="p-2 text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


      <ul class="nav col-10 col-lg-auto me-lg-auto mb-10 justify-content-right mb-md-0">
          <li>
                <img class="d-block mx-auto mb-4 bd-placeholder-img rounded-circle"  alt="" width="100" height="100" src="./public/images/menu/fisica.jpg" >
                <input type="checkbox" name="fisica" id="1" value="fisica"> Fisica<br>
            </a>
            </li>
            <pre>                          </pre>
            <li>           
                <img src="./public/images/menu/auditiva.jpg" class="d-block mx-auto mb-4 bd-placeholder-img rounded-circle"  alt="" width="100" height="100">
                <input type="checkbox" name="auditiva" id="2" value="auditiva"> Auditiva<br>
            </a>
            </li>
            <pre>                        </pre>
            <li>            
                <img src="./public/images/menu/visual.jpg" class="d-block mx-auto mb-4 bd-placeholder-img rounded-circle"  alt="" width="100" height="100">
                <input type="checkbox" name="visual" id="3" value="visual"> Visual<br>

            </a>
            </li>
            <pre>                         </pre>
            <li>            
                <img src="./public/images/menu/intelectual.jpg" class="d-block mx-auto mb-4 bd-placeholder-img rounded-circle"  alt="" width="100" height="100">
                <input type="checkbox" name="intelectual" id="4" value="intelectual"> Intelectual<br>
            </a>
            </li>
            <pre>                        </pre>
            <li>
                <img src="./public/images/menu/daltonismo.jpg" class="d-block mx-auto mb-4 bd-placeholder-img rounded-circle"  alt="" width="100" height="100">
                <input type="checkbox" name="daltonismo" id="5" value="daltonismo"> Daltonismo<br>
            </a>
            </li>

      </ul>

    </div>
  </div>
</div>

  <p>
        <p id="lista"></p>
    </p>

